<!--
  templateType: page
  isAvailableForNewContent: true
  label: Blank
  screenshotPath: ../images/template-previews/blank.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--blank', label='Main section' %}

    {# Banner Section #}
    {% dnd_section
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/blank-banner.jpg')
      },
      max_width=760,
      padding={
        'top': 135,
        'right': 20,
        'bottom': 135,
        'left': 20
      },
      vertical_alignment='MIDDLE'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <div style="text-align: center">
                <h1 style="color: #fff; margin-bottom: 0;">Blank</h1>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}


    {# Content Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm odo consequat. Uom ad minim veniam, quis nostrud exercitation.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm odo consequat. Uom ad minim veniam, quis nostrud exercitation.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Content Section #}

  {% end_dnd_area %}
</main>
{% endblock body %}