<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends './layouts/base.html' %}

{% block header %}
  {% global_partial path='./partials/header-no-navigation.html' %}
{% endblock header %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--landing-page', label='Main section' %}

    {# Top Offer Section #}
    {% dnd_section
      background_image={
        'backgroundPosition': 'TOP_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/landing-page-banner.png')
      }
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/linked_image',
            horizontal_alignment='CENTER',
            img={
              'src': get_asset_url('../images/ebook.png'),
              'alt': 'Ebook cover',
              'size_type': 'auto'
            },
            offset=0,
            width=4
          %}
          {% end_dnd_module %}
          {% dnd_module
            path='@hubspot/rich_text',
            horizontal_alignment='LEFT',
            offset=4,
            width=4
          %}
            {% module_attribute 'html' %}
              <div>
                <h4>Increase Your Productivity</h4>
                <h2>10 Things to Save Time</h2>
                <p>Learn how you can save time and increase productivity by automating your simple daily tasks.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
          {% dnd_module
            path='@hubspot/form',
            horizontal_alignment='CENTER',
            offset=8,
            title='Yes! Send Me the Ebook!',
            width=4
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Top Offer Section #}

    {# Bottom Offer Description Section #}
    {% dnd_section
      background_color={{ theme.colors.secondary.color }}
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <h2 style="color: #fff;">What's Inside?</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            offset=0,
            width=4
          %}
            {% module_attribute 'html' %}
              <div>
                <ul style="color: #fff;">
                  <li>A free copy of our extensive eBook guide with tips on how you can increase your productivity by automating your daily tasks.</li>
                  <li>An exclusive link to our online community so that you can discuss what you learn with a group of like-minded individuals.</li>
                </ul>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
          {% dnd_module
            path='@hubspot/rich_text',
            offset=4,
            width=4
          %}
            {% module_attribute 'html' %}
              <div>
                <ul style="color: #fff;">
                  <li>An extended free trial of our software so that you can immediately put some of these tips into action.</li>
                  <li>Access to our online support chat so that you can ask any questions that you may have after reading through the eBook.</li>
                </ul>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
          {% dnd_module
            path='@hubspot/rich_text',
            offset=8,
            width=4
          %}
            {% module_attribute 'html' %}
              <div>
                <ul style="color: #fff;">
                  <li>Links to all of our open resources so that you can continue to learn after reading through this eBook.</li>
                  <li>A free calendar browser extension so that you can track your progress as you begin to automate your tasks.</li>
                </ul>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


  {% end_dnd_area %}
</main>
{% endblock body %}

{% block footer %}
  {% global_partial path='./partials/footer-no-navigation.html' %}
{% endblock footer %}