<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="footer__container">

    {# Footer Top Section #}
    <div class="footer__top-section">
      <div class="row-fluid span12">

        {# Logo and Social Follow Column #}
        <div class="column span4">

          {# Logo #}
          <div class="footer__logo">
            {% module 'footer_logo'
              path='@hubspot/logo',
              img={
                'alt': 'Sprout logo',
                'height': '82',
                'src': get_asset_url('../../images/sprout-theme-logo.png'),
                'width': '205'
              }
            %}
          </div>
          {# End Logo #}

          {# Social Follow #}
          <div class="footer__follow-me">
            {% module_block module 'footer_social'
              path='../../modules/social-follow',
              override_default_style=true,
              social_links=[
                {
                  'social_account': 'facebook-f',
                  'accessibility': {
                    'title': 'Follow us on Facebook'
                  }
                },
                {
                  'social_account': 'linkedin-in',
                  'accessibility': {
                    'title': 'Follow us on LinkedIn'
                  }
                },
                {
                  'social_account': 'twitter',
                  'accessibility': {
                    'title': 'Follow us on Twitter'
                  }
                },
                {
                  'social_account': 'instagram',
                  'accessibility': {
                    'title': 'Follow us on Instagram'
                  }
                }
              ]
            %}
              {% module_attribute 'style' is_json=True %}
                {
                  "color": {
                    "color": "#ffffff",
                    "opacity": 100
                  },
                  "bg_color": {
                    "color": "#1e2b33",
                    "opacity": 0
                  },
                  "hover": {
                    "color": {
                      "color": "#1e2b33",
                      "opacity": 100
                    },
                    "bg_color": {
                      "color": "#ffffff",
                      "opacity": 100
                    }
                  }
                }
              {% end_module_attribute %}
            {% end_module_block %}
          </div>
          {# End Social Follow #}

        </div>
        {# End Logo and Social Follow Column #}

        {# Navigation Column One #}
        <div class="footer__navigation column span2">
          {% module 'footer_menu_header_one'
            label='Menu title column one',
            path='@hubspot/header',
            header_tag='h4',
            value='About Us'
          %}
          {% module_block module 'footer_menu_one'
            label='Menu column one',
            path='@hubspot/simple_menu',
            orientation='vertical'
          %}
            {% module_attribute 'menu_tree' is_json=True %}
              [
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Our Story", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Our Team", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Our Mission", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Our Vision", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false}
              ]
            {% end_module_attribute %}
          {% end_module_block %}
        </div>
        {# End Navigation Column One #}

        {# Navigation Column Two #}
        <div class="footer__navigation column span2">
          {% module 'footer_menu_header_two'
            label='Menu title column two',
            path='@hubspot/header',
            header_tag='h4',
            value='Work With Us'
          %}
          {% module_block module 'footer_menu_two'
            label='Menu column two',
            path='@hubspot/simple_menu',
            orientation='vertical'
          %}
            {% module_attribute 'menu_tree' is_json=True %}
              [
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Products", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Services", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Trainings", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Free Trial", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false}
              ]
            {% end_module_attribute %}
          {% end_module_block %}
        </div>
        {# End Navigation Column Two #}

        {# Navigation Column Three #}
        <div class="footer__navigation column span2">
          {% module 'footer_menu_header_three'
            label='Menu title column three',
            path='@hubspot/header',
            header_tag='h4',
            value='Support'
          %}
          {% module_block module 'footer_menu_three'
            label='Menu column three',
            path='@hubspot/simple_menu',
            orientation='vertical'
          %}
            {% module_attribute 'menu_tree' is_json=True %}
              [
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Help Center", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Community", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Contact Support", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Live Chat", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false}]
            {% end_module_attribute %}
          {% end_module_block %}
        </div>
        {# End Navigation Column Three #}

        {# Footer Navigation Column Four #}
        <div class="footer__navigation column span2">
          {% module 'footer_menu_header_four'
            label='Menu title column four',
            path='@hubspot/header',
            header_tag='h4',
            value='Resources'
          %}
          {% module_block module 'footer_menu_four'
            label='Menu column four',
            path='@hubspot/simple_menu',
            orientation='vertical'
          %}
            {% module_attribute 'menu_tree' is_json=True %}
              [
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Blog", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Webinars", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Podcast", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false},
                {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "eBooks", "linkTarget": null, "linkUrl": "#", "children": [], "isDeleted": false}
              ]
            {% end_module_attribute %}
          {% end_module_block %}
        </div>
        {# End Footer Navigation Column Four #}

      </div>
    </div>
    {# End Footer Top Section #}

    {# Footer Bottom Section #}
    <div class="footer__bottom-section">
      <div class="row-fluid span12">

        {# Copyright Column #}
        <div class="column span3">

          {# Copyright #}
          {% module 'footer_copyright'
            label='Copyright',
            path='@hubspot/text',
            value='Copyright © {{ year }}, {{ site_settings.company_name }}'
          %}
          {# End Copyright #}

        </div>
        {# End Copyright Column #}

        {# Legal Information Column #}
        <div class="column span9">

          {# Legal Information #}
          {% module_block module 'footer_legal_information'
            label='Legal Information',
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <a href="#">Privacy Policy</a> &nbsp;| &nbsp;<a href="#">Terms of Use</a>
            {% end_module_attribute %}
          {% end_module_block %}
          {# End Legal Information #}

        </div>
        {# End Legal Information Column #}

      </div>
    </div>
    {# End Footer Bottom Section #}

  </div>
</footer>
