<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">
  <div class="header__container">

    {# Logo #}
    <div class="header__logo">
      {% module 'header_logo'
        path='@hubspot/logo',
        img={
          'alt': 'Sprout logo',
          'height': '82',
          'src': get_asset_url('../../images/sprout-theme-logo.png'),
          'width': '205'
        }
      %}
    </div>
    {# End Logo #}

    {# Main Navigation #}
    <div class="header__menu">
        <input type="checkbox" id="nav-toggle">
        <label class="header__navigation-toggle" for="nav-toggle">
          <span class="header__mobile-menu-icon"></span>
        </label>
        <div class="header__navigation">
          {% module 'header_navigation_primary'
            label='Primary navigation',
            path='../../modules/menu-section'
          %}
        </div>
    </div>
    {# End Main Navigation #}

    {# Language Toggle #}
    {% if content.translated_content|length || is_listing_view && group.translations %}
      <div class="header__language-switcher">
        <div class="header__language-switcher-label">
          {% module 'language-switcher'
            label='Language switcher',
            path='@hubspot/language_switcher',
            display_mode='localized'
          %}
          <div class="header__language-switcher-label-current"> {{ locale_name(locale) }}</div>
        </div>
      </div>
    {% endif %}
    {# End Language Toggle #}

  </div>
</header>
