.social-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .social-links {
    justify-content: center;
  }
}

.social-links__icon {
  background-color: transparent;
  border-radius: 4px;
  display: inline-flex !important;
  margin: 0 0.7rem 0.35rem 0;
  padding: 0.7rem;
}

.social-links__link:last-child .social-links__icon {
  margin-right: 0;
}

.social-links__icon svg {
  fill: #34b5e6;
  height: 15px;
  width: 15px;
}

.social-links__icon:hover,
.social-links__icon:focus,
.social-links__icon:active {
  background-color: transparent;
}

.social-links__icon:hover svg,
.social-links__icon:focus svg,
.social-links__icon:active svg {
  fill: #34b5e5;
}
