/* Primary Button */

button,
.button {
  align-items: center;
  background-color: #c168c2;
  border: 1px solid #c168c2;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin: 0 0 1.4rem;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s linear;
}

button:disabled,
.button:disabled {
  background-color: #d0d0d0;
  color: #e6e6e6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #99409a;
  border-color: #99409a;
  color: #fff;
  text-decoration: none;
}

button:active,
.button:active {
  background-color: #e77de8;
  border-color: #e77de8;
  color: #fff;
  text-decoration: none;
}

/* Secondary Button */

.button.button--secondary {
  background-color: transparent;
  border: 1px solid #c168c2;
  color: #c168c2;
  fill: #c168c2;
}

.button.button--secondary:hover,
.button.button--secondary:focus {
  background-color: transparent;
  border-color: #99409a;
  color: #99409a;
  fill: #99409a;
}

.button.button--secondary:active {
  background-color: transparent;
  border-color: #e77de8;
  color: #e77de8;
  fill: #e77de8;
}

/* Simple Button */

.button.button--simple {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #c168c2;
  fill: #c168c2;
  font-size: 1rem;
  font-style: normal;
  padding: 0 !important;
  position: relative;
  text-decoration: none;
}

.button.button--simple:after {
  background-color: #c168c2;
  content: none;
  left: 0;
  position: absolute;
  width: 100%;
}

.button.button--simple:hover,
.button.button--simple:focus {
  background-color: transparent;
  border: none;
  color: #99409a;
}

.button.button--simple:active {
  background-color: transparent;
  border: none;
  color: #e77de8;
}

/* Button Sizing */

.button.button--small {
  font-size: 0.875rem;
}

.button.button--large {
  font-size: 1.125rem;
}

/* Button Icons */

.button .button__icon svg {
  display: block;
  fill: inherit;
  height: 1.25rem;
  margin-right: 1rem;
}

.button.button--icon-right .button__icon {
  order: 1;
}

.button.button--icon-right .button__icon svg {
  margin-left: 1rem;
  margin-right: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .button .button__icon svg {
    width: 1.25rem;
  }
}
